.expirienceBar {
    display    : flex;
    align-items: center;
}

.expirienceBar span {
    font-size: 1rem;
}

.expirienceBar>div {
    flex            : 1;
    height          : 4px;
    border-radius   : 4px;
    background-color: var(--gray-line);
    margin          : 0 1.5rem;
    position        : relative;
}

.expirienceBar>div>div {
    height          : 4px;
    border-radius   : 4px;
    background-color: var(--green);
}

span.currentExpirience {
    position : absolute;
    top      : 12px;
    transform: translateX(-50%);
    /*Centraliza o elemento que serelaciona à âncora (50% no eixo X)*/
}